extends layouts/layout
block content
    div.card
        div.card-body
            h3.card-title.mb-0 #{post.message}
            i.text-muted.small added by #{post.user.name}
            hr
            div.btn-group.float-right
                a.btn.btn-danger(href=post.url + '/update') Update
                a.btn.btn-danger(href=post.url + '/delete') Delete
    br
    ul.list-group.list-group-flush
                each comment in comments
                    li.list-group-item
                        div.row
                            div.col-md-6
                                span.mr-3 #{comment.message}
                                i.text-muted.small  added by #{comment.user.name}

                            div.col-md-6
                                div.float-right
                                    form(method='POST' action='/comments/' + comment_id + '/delete')
                                        div.form-group
                                            input#commentid.form-control(type='hidden',name='commentid', required='true', value=comment._id )

                                        button.btn.btn-danger.btn-sm(type='submit')
                                            i(class='fas fa-trash')
                else
                    li There are no posts.
    br
    form(method='POST' action='')
        div.form-group
            label(for='message') Comment:
            input#message.form-control(type='text', placeholder='Message' name='message' required='true' autocomplete='off')
        button.btn.btn-primary(type='submit') Add Comment

    br

    a.btn.btn-sm.btn-link.active(href='/posts') Back
