extends layouts/layout

block content
    div.card
        div.card-body
            img.rounded.mr-3(src="/images/elon.png" style="width: 75px; height: 75px;")
            h3.card-title.mb-0.mr-3.d-inline(style="vertical-align:middle") #{user.name}
            hr
            span @#{user.username}
            hr
            span #{user.email}
            hr
            div.btn-group.float-right
                a.btn.btn-danger(href=user.url + '/update') Update
                a.btn.btn-danger(href=user.url + '/delete') Delete

    br

    div.card
        div.card-body
            h5 All #{user.name}'s posts
            ul.list-group.list-group-flush
                each post in posts
                    li.list-group-item #{post.message}

    br

    a.btn.btn-sm.btn-link.active(href='/users') Back